body{
    background-image: url('/static/images/pexels-errin-casano-2356071.jpg');
    background-size: cover;
    background-blend-mode:soft-light;
}

.btn_upload:hover, .btn_delete:hover{
    cursor: pointer;
}
.btn_delete{
    margin-left: 10px;
    color: #dc3545;
}