<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crudTodo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous" defer></script>
    <script src="https://kit.fontawesome.com/6ad1eade19.js" crossorigin="anonymous"></script>
    <script src="/static/script.js" defer></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="bg-dark">
    <main class="container bg-secondary mt-4 p-4">
        <h1 class="text-center">Aluguel de Carros</h1>
        <section class="container mt-5">
            <div class="row">
                <button class="col-4 btn btn-dark" onclick="loadCarros()">Carregar todos carros</button>
                <div class="col-4">
                    <div class="input-group">
                        <input type="number" id="input_get_id" class="col-2 form-control" placeholder="ID">
                        <button class="col-9 btn btn-dark" onclick="loadCarro()">Buscar carro</button>
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group">
                        <input type="number" id="input_delete_id" class="col-2 form-control" placeholder="ID">
                        <button class="col-9 btn btn-danger" onclick="deleteCarro()">Excluir carro</button>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6">
                    <input type="text" id="input_post_modelo" class="col-6 form-control" placeholder="Modelo">
                    <input type="tel" id="input_post_marca" class="col-6 form-control mt-2" placeholder="Marca">
                    <input type="tel" id="input_post_ano" class="col-6 form-control mt-2" placeholder="Ano">
                    <input type="tel" id="input_post_observacoes" class="col-6 form-control mt-2" placeholder="Observacoes">
                    <input type="tel" id="input_post_vDiaria" class="col-6 form-control mt-2" placeholder="Valor diária">
                    <button class="col-12 mt-2 btn btn-dark" onclick="postCarro()">Criar carro</button>
                </div>
                <div class="col-6">
                    <input type="text" id="input_put_modelo" class="col form-control" placeholder="Modelo">
                    <input type="tel" id="input_put_marca" class="col form-control mt-2" placeholder="Marca">
                    <input type="tel" id="input_put_ano" class="col-6 form-control mt-2" placeholder="Ano">
                    <input type="tel" id="input_put_observacoes" class="col-6 form-control mt-2" placeholder="Observacoes">
                    <input type="tel" id="input_put_vDiaria" class="col-6 form-control mt-2" placeholder="Valor diária">
                    <div class="input-group mb-3 mt-2">
                        <input type="number" class="form-control col-1" id="input_put_id" placeholder="ID" aria-label="ID" aria-describedby="button-addon2">
                        <button class="btn btn-dark col-10" onclick="updateCarro()">Atualizar carro</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container mt-4 pb-4">
            <table class="table">
                <thead class="bg-info">
                    <tr> <!-- Ver um jeito de tirar coluna e add botoes ou pop ups para mostrar as infos  -->
                        <th scope="col">ID</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Ano</th>
                        <th scope="col">Observações</th>
                        <th scope="col">Valor da diaria</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody class="table__tbody">
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>
